<ul class="nav nav-pills">
  <li role="presentation"><a href="/dashboard">Overview</a></li>
  <li role="presentation"><a href="/repositories">Repositories</a></li>
  <li role="presentation"><a href="#">Stars</a></li>
  <li role="presentation"><a href="#">Followers</a></li>
  <li role="presentation"><a href="#">Following</a></li>
</ul>
<hr>
