<ul class="nav nav-pills">
  <li role="presentation"><a href="/dashboard">Overview</a></li>
  <li role="presentation"><a href="/repositories">Repositories <span class="badge"> <%= repo_count %></span></a></li>
  <li role="presentation"><a href="/starred">Stars <span class="badge"><%= stars_count %></span></a></li>
  <li role="presentation"><a href="/followers">Followers <span class="badge"><%= followers_count %></span></a></li>
  <li role="presentation"><a href="/following">Following <span class="badge"><%= following_count %></span></a></li>
</ul>
<hr>
