<ul class="nav nav-pills">
  <li role="presentation"><a href="/dashboard">Overview</a></li>
  <li role="presentation"><a href="/repositories">Repositories <span class="badge">24</span></a></li>
  <li role="presentation"><a href="/starred">Stars <span class="badge">1</span></a></li>
  <li role="presentation"><a href="/followers">Followers</a></li>
  <li role="presentation"><a href="/following">Following</a></li>
</ul>
<hr>
