<ul class="nav nav-pills">
  <li role="presentation"><a href="/dashboard">Overview</a></li>
  <li role="presentation"><a href="/repositories">Repositories <span class="badge">24</span></a></li>
  <li role="presentation"><a href="#">Stars <span class="badge">1</span></a></li>
  <li role="presentation"><a href="#">Followers</a></li>
  <li role="presentation"><a href="#">Following</a></li>
</ul>
<hr>
