<div class="underline-nav">
<ul>
  <li class="underline-nav-item"><a href="/dashboard">Overview</a></li>
  <li class="underline-nav-item"><a href="/repositories">Repositories <span class="badge"><%= repo_count %></span></a></li>
  <li class="underline-nav-item"><a href="/starred">Stars <span class="badge"><%= stars_count %></span></a></li>
  <li class="underline-nav-item"><a href="/followers">Followers <span class="badge"><%= followers_count %></span></a></li>
  <li class="underline-nav-item"><a href="/following">Following <span class="badge"><%= following_count %></span></a></li>
</ul>
</div>
