
<div class="container">
  <div class="row" style="padding-left: 120px; padding-right: 120px">
    <%= render partial: 'sidebar' %>
  <div class="col-md-9">
    <%= render partial: 'topnav' %>
    <h4 style="font-size: 1.2em">Pinned Repositories <small><span style="float: right"><a href="/">Customize your Pinned Repositories</a></span></small></h4>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            One
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            Two
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            Three
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            Four
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
