/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }

.badge {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #666;
  background-color: #eee;
  border-radius: 20px;
}

.current_page {
  color: #333;
  border-bottom-color: #c9510c;
}

.form-control {
    height: 25px;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    width: 100%;
    float: left;
    width: 360px;
    margin-right: 10px;
}

.sidebar-link {
  padding: 0px;
  text-align: left;
}

.navbar {
  min-height: 45px;
  border: none;
  padding-top: 3px;
}
.navbar-default {
  height: 40px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  background-image: none;
}

.navbar-default .navbar-nav>li>a {
  display: block;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #333;
  padding-top: 10px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #4078c0;
}

.navbar-brand {
  padding-top: 7px;
}

.underline-nav-item {
  display: table-cell;
  padding-right: 40px;
  padding-left: 0px;
  font-size: 13px;
  color: #767676;
  vertical-align: bottom;
  border-bottom: 2px solid transparent;
}

.underline-nav {
  display: block;
  height: 50px;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: solid 1px #ddd;
  padding-top: 10px;
  margin-bottom: 20px;
}

.underline-nav a {
  color: #767676
}
.underline-nav a:hover {
  text-decoration: none;
  color: black;
}

.underline-nav-item.selected {
  color: #333;
  border-bottom-color: #c9510c;
}

.nav>li>a {
  padding: 0px;
  padding-top: 10px;
}

.repo-search-bar {
  height: 30px;
  width: 320px !important;
}

.github-search-bar {
  width: 330px !important;
  margin-left: -20px;
  margin-right: -10px;
}

.btn btn-default {
  position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

.dropdown-text {
  color: #767676;
  padding-left: 20px;
}
